.admin{
    margin:auto;
    max-width: 600px;
    text-align: center;
    padding-top: 1.5rem;
    &__form{
        margin: 0px 0px;
        padding-top: 1.5rem;
    }
    &__width{
        &--full{
            width: 100%;
        }
    }
    &__margin{
        &--center{
            margin: auto;
        }
    }
    &__field{
        width: 100%;
    }
}