ul{
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    li{
        display: inline;
        color: #fff;
        line-height: 40px;
        padding: 0 30px;
    }
}

